@import url(./font-awesome.min.css);

body {
    position: absolute;
    text-align: center;
    background-color: #00000b;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: FontAwesome, Arial;
    color: rgba(214, 214, 214, .4);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes vapors {
    0% {
        box-shadow: 0 0 1.813em 0.438em #3a3445, 0 0 3.125em #3a3445 inset, 0 0 .625em rgba(58, 52, 69, .6) inset;
    }
    
    25% {
        box-shadow: 0 0 1.813em 0.438em #3a3445, 0 0 3.125em #3a3445 inset, 0 -17.5em 8em rgba(58, 52, 69, .3) inset;
    }
    
    100% {
        box-shadow: 0 0 1.813em 0.438em #3a3445, 0 0 3.125em #3a3445 inset, 0 -17.5em 8em rgba(58, 52, 69, 0) inset;
    }
}

section {
    position: relative;
    display: inline-block;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    border-radius: .625em;
    box-shadow: 0 0 1.813em .438em #3a3445, 0 0 3.125em #3a3445 inset;
    animation-name: vapors;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

section h1 {
    margin: 0;
    padding: 0.4em 0 0 0.55em;
    background-color: rgba(58, 52, 69, 1);
    border-radius: .313em .313em 0 0;
    height: 1.75em;
    font-size: 1.5em;
    line-height: 1.5em;
}

::-webkit-input-placeholder {
    color: rgba(85, 85, 85, .6);
}

:-moz-placeholder {
    color: rgba(85, 85, 85, .6);
}

::-moz-placeholder {
    color: rgba(85, 85, 85, .6);
}

:-ms-input-placeholder {
    color: rgba(85, 85, 85, .6);
}

::-ms-input-placeholder {
    color: rgba(85, 85, 85, .6);
}

form.cheats input:not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
form.cheats textarea,
form.cheats select {
    border: none;
}

form.cheats.editable {
    width: 15em;
}

form.cheats.editable [type="submit"],
form.cheats.editable button {
    margin-top: -3.2em;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .1);
    border-radius: .3em;
}

form.cheats.editable fieldset:not([disabled="disabled"]) select,
form.cheats.editable fieldset:not([disabled="disabled"]) input:not([type="button"]):not([type="reset"]):not([type="submit"]),
form.cheats.editable fieldset:not([disabled="disabled"]) textarea {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .313em;
}